<h1>Features</h1>
<div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img src="../assets/boy.jpg" alt="boy" class="img-circle" width="140" heigth="140">
        <h2>Team member1</h2>
        <P>Lorem Lorem ipsum dolor sit amet consectetur  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis fuga nam delectus minima. Voluptas ipsa iusto eius corporis magnam quis!adipisicing elit. Quia, laudantium! ipsum dolor sit, amet consectetur adipisicing elit. Eveniet commodi sed quod laborum ab ullam quasi quis quam repellat tenetur.</P>
      </div>
      <div class="col-lg-6">
       <img src="../assets/boy.jpg" alt="boy" class="img-circle" width="140" heigth="140">
       <h2>Team member1</h2>
       <P>Lorem Lorem ipsum dolor sit amet consectetur  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis fuga nam delectus minima. Voluptas ipsa iusto eius corporis magnam quis!adipisicing elit. Quia, laudantium! ipsum dolor sit, amet consectetur adipisicing elit. Eveniet commodi sed quod laborum ab ullam quasi quis quam repellat tenetur.</P>
