<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
    <ul>
        <li ><a routerLink="/home">Home</a> </li>
        <li><a  routerLink="/features">Features</a></li>
        <li><a  routerLink="/documentation">Documentation</a></li>
        <li><a  routerLink="/about">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a  routerLink="/reports">Reports</a></li>
        <li><a  routerLink="/help">Help</a></li>
        <li class="righty"><a routerLink="/login" ><i class="fa fa-user"></i>Log-In</a></li>
       
         </ul>
         <router-outlet></router-outlet>
     <img src="../assets/flower.jpg" alt="" width="100%"heigth="100%"><br>
     <br>
     <div class="container">
       <div class="row">
         <div class="col-lg-4">
           <img src="../assets/boy.jpg" alt="">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eos nulla placeat excepturi incidunt distinctio illum laboriosam. Amet iusto cum quod quos, asperiores dolore? Alias blanditiis dolor facere ea non?</p>
         </div>
         <div class="col-lg-4">
          <img src="../assets/boy.jpg" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eos nulla placeat excepturi incidunt distinctio illum laboriosam. Amet iusto cum quod quos, asperiores dolore? Alias blanditiis dolor facere ea non?</p>
        </div>
        <div class="col-lg-4">
          <img src="../assets/boy.jpg" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia eos nulla placeat excepturi incidunt distinctio illum laboriosam. Amet iusto cum quod quos, asperiores dolore? Alias blanditiis dolor facere ea non?</p>
        </div>
       </div>
     </div>
 
         
      
</body>
 </html>
 



